<div>
    <h2>Show all the users</h2>
    <div>
        <button (click) = "refresh()" class = "btn btn-primary">Refresh</button>
    </div>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Id</th><th>Firstname</th><th>Lastname</th><th>Phone</th><th>X</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let user of users">
                <td>{{user.id}}</td><td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td><td>{{user.phone}}</td>
                <td><button class = "btn btn-danger" (click) = "delete(user)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>