<div>
    <h2>NgFor Demo</h2>
    <div>
        <h3>Top Rated Films are:</h3>
        <ol>
            <li *ngFor = "let film of topRatedFilms">{{film}}</li>
        </ol>
    </div>
    <div>
        <h3>Users list in a table</h3>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Sl.No</th><th>Name</th><th>Age</th><th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let u of usersList; let i = index">
                    <td>{{i + 1}}</td><td>{{u.name}}</td><td>{{u.age}}</td><td>{{u.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>